<!DOCTYPE html>
<html>
  <head>
    <title>School Asset List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>School Asset List</h1>
    <button class="button" type="button" ><a class="button-links" href="https://school-app-tomka.herokuapp.com/students/list" >Show students</a></button>
    <button class="button" type="button" ><a class="button-links" href="https://school-app-tomka.herokuapp.com/trainers/list" >Show trainers</a></button>
    <button class="button" type="button" ><a class="button-links" href="https://school-app-tomka.herokuapp.com/courses/list" >Show courses</a></button>
    <button class="button" type="button" ><a class="button-links" href="https://school-app-tomka.herokuapp.com/assignments/list" >Show assignments</a></button>
  </body>
</html>
