<!DOCTYPE html>
<html>
  <head>
    <title>School Asset List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>School Asset List</h1>
    <button class="button" type="button" ><a class="button-links" href="<%= url + '/students/list' %>" >Show students</a></button>
    <button class="button" type="button" ><a class="button-links" href="<%= url + '/trainers/list' %>" >Show trainers</a></button>
    <button class="button" type="button" ><a class="button-links" href="<%= url + '/courses/list' %>" >Show courses</a></button>
    <button class="button" type="button" ><a class="button-links" href="<%= url + '/assignments/list' %>" >Show assignments</a></button>
  </body>
</html>
